*{
    margin: 0;
    padding: 0;
}
:root{
    --color-box-1:#e38826;
    --color-box-2:#006970;
    --color-box-3:#004241;
    --color-text-paragraph: rgba(255, 255, 255, 0.749);
    --color-text :#f2f2f2;
    --cards-height : 50rem;
    --card-paragraph-width :21rem;
    --card-padding:4.7rem;
    @media (max-width:1000px) {
        --cards-height : 115rem;
        --card-paragraph-width :48rem;
        
    }
    @media (max-width:700px) {
        --card-padding:3.5rem;
        
    }
    @media (max-width:600px) {
        --cards-height : 132.5rem;
        --card-paragraph-width :23.5rem;
        --card-padding:4.7rem;
        
    }
}

html{
    font-size: 62.5%;
}
body{

    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 17.1rem;
    align-items: center;
    @media (max-width:1000px) {
        padding:9rem 0;
        height: 107.6rem;
        
    }
    @media (max-width:600px) {
        padding:9rem 0;
        height: 132.3rem;
            
    }
    background-color: var(--color-text);
    
}
.article-cards{
        
        max-width: 92.1rem;
        align-self: center;
        height: var(--cards-height);
        
        display: grid;
        grid-template-columns: repeat (3, 30.7rem);
        grid-auto-flow: column;
        @media (max-width:1000px) {
            // width: 61rem;
            grid-template-rows: repeat (3, 61rem);
            grid-auto-flow: row;
            
        }
        @media (max-width:600px) {
            grid-template-rows: repeat (3, 40rem);
            grid-auto-flow: row;
            
        }
        

    
}
.card{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    padding:var(--card-padding);
    font-family: 'Lexend Deca', sans-serif;    
    &__heading{
        font-size: 3.9rem;
        text-transform: uppercase;
        font-family: 'Big Shoulders Display', cursive;
        color:var(--color-text);
        padding-bottom: 3rem;


    }
    &__svg{
        width: 6.4rem;
        height: 4rem;
        padding-bottom: 3.6rem;
    }
    &__paragraph{
        max-width: var(--card-paragraph-width);
        color:var(--color-text-paragraph);
        line-height: 2.5rem;
    }
    &__cta{
        background-color: #fff;
        display: flex;
        width: 14.8rem;
        height:4.8rem;
        justify-content: center;
        align-items: center;
        border-radius: 4.8rem;
        margin-top: auto;
        &--sedans{
            color: var(--color-box-1);
        }
        &--suvs{
            color: var(--color-box-2);
        }
        &--luxury{
            color: var(--color-box-3);
        }
        &:hover{
            background-color: transparent;
            color:var(--color-text);
            box-shadow: inset 0px 0px 0px 2px var(--color-text);
            // border:2px solid var(--color-text);
            cursor: pointer;
        }
    }
    &--1{

        background-color: var(--color-box-1);
        border-radius: 1rem 0 0 1rem;
        @media (max-width:1000px) {
            border-radius: 1rem 1rem 0 0;
        }
    }
    &--2{
        background-color: var(--color-box-2);
    }
    &--3{
        background-color: var(--color-box-3);
        border-radius: 0 1rem 1rem 0;
        @media (max-width:1000px) {
            border-radius: 0 0 1rem 1rem;
        }
    }

}
